:root {
  --primario: #0B2A4A;
  --primario-claro: #124B7A;
  --celeste: #38BDF8;
  --resaltado: #C6A15B;
  --bg: #F6F8FB;
  --texto: #111827;
  --border: #E5E7EB;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color:var(--texto)
  
}

.navbar_personal {
  background-color: #fffffff2;
  border-bottom: px solid #E5E7EB;
  box-shadow: 0 4px 20px #0000000a;
  padding-top:1%;
  padding-bottom:1%;
  padding-left: 21%;
  padding-right: 19%;
}


.brand-text{
  font-weight: 700;
  font-size: 18px;
  color: var(--primario);
  letter-spacing: 0.5px;
}

/*Secciones*/
.nav-link {
  font-weight: 500;
  color: var(--texto);
  margin: 0 8px;
  position: relative;
  transition: all 0.3s ease;
}

/*Hover elegante*/
.nav-link:hover {
  background: rgba(17,24,39,0.05);
  border-radius: 25px;
  padding: 8px;
  text-decoration: none;
}

/*Botón*/
.contacto {
  background-color: var(--primario);
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.3s ease;
  color: white;

}

.contacto:hover {
  background-color: var(--primario-claro);
}

/*INICIO*/
/* Columna izquierda */
.badge{
  display: inline-block;
  padding: 15px;
  border-radius: 800px;
  font-size: 16px;
  background: #38bdf81f;
  border: 1px solid #38bdf840;
  color: var(--primario);
  font-weight: 600;
  margin: 0 0 14px;
  margin-top: 15%;
}
#inicio{
  margin-top:1%;
  display: flex;
  padding-left: 22%;
  align-items: center;
  max-width: 80%;
}

.titulo{
  color: var(--primario);
  font-weight: 900;
  font-size: 45px;
  margin-top: 2%;
  margin: 0 0 12px;
}

.presentacion{
    color:#5B6777; /* texto elegante (gris azulado) */
  font-size: 16px;
  line-height: 25px;
  max-width: 80%;
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Columna derecha */

.contDerecho .card{
  width: 90% !important;
  max-width: 90%;
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(11, 42, 74, 0.08);
  margin-top: 13%;
  align-items: center;
  margin-left: 10%;
}

.contDerecho .card-img-top{
  margin-top: 30px;
  height: 300px;
  object-fit: cover;
}

.contDerecho .card-title{
  color: var(--primario);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 3%;
}

.contDerecho .card-text{
  color:#5B6777;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: .9rem;
}
.chip{
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 999px;
  border: 1px solid var(--border);
  background: rgba(255,255,255,0.9);
  display: inline;
}

/*Sobre*/

.cabecera{
  font-weight: bolder;
  font-size: 30px;
  margin-top:5%;
  display: flex;
  padding-left: 22%;
  align-items: center;
  max-width: 80%;
  
}

.cabTexto{
  color:#5B6777; /* texto elegante (gris azulado) */
  font-size: 16px;
  line-height: 25px;
  max-width: 80%;
  margin-top: 4%;
  margin-top:1%;
  display: flex;
  padding-left: 22%;
  align-items: center;
  max-width: 80%;
}

/*BIOGRAFIA*/
.biografia .card{
  width: 70% !important;
  max-width: 55%;
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(11, 42, 74, 0.08);
  margin-top: 2%;
  align-items: center;
  margin-left: 45%;
  padding: 5%;
}

.biografia .card-title{
  color: var(--primario);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 3%;
}

.biografia .card-text{
  color:#5B6777;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: .9rem;
  margin-top:15px;
  text-align: justify;

}

/*ESTUDIOS*/
.estudiosExperiencia .card{
  width: 70% !important;
  max-width: 53%;
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(11, 42, 74, 0.08);
  margin-top: 2%;
  align-items: center;
  margin-left: 7%;
  padding: 1.7%;
}

.estudiosExperiencia .card-title{
  color: var(--primario);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 3%;
}

.estudiosExperiencia .list-check{
  color:#5B6777;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: .9rem;
  margin-top:15px;
  text-align: justify;
}

/*SERVICIOS*/
#Servicios{
  background-color: white;
  margin-top: 5%;
  border:1px solid #e2e2e2 ;
}

.servicios{
width: 61%;
margin-left: 21.7%;
}
.cabecera{
  margin-top: 3%;
}


.servicios .card{
  width: 85% !important;
  max-width: 85%;
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(11, 42, 74, 0.08);
  margin-top: 2%;
  align-items: center;
  padding: 1.7%;
  height: 100%;
}
.servicios .card-text{
  color:#5B6777;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: .9rem;
  margin-top:15px;
  text-align: justify;
}

.servicios .card-title{
  color: var(--primario);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 3%;
}

.publico{
  width: 61%;
margin-left: 21.7%;
margin-top: 1%;
}
.publico .card{
  width: 100% !important;
  max-width: 96.5%;
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(11, 42, 74, 0.08);
  margin-top: 2%;
  align-items: center;
  padding: 1.7%;
  margin-top: 16px;
  border-left: 4px solid var(--resaltado);
  height: 75%;
}
.publico .card-text{
  color:#5B6777;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 2%;
  margin-top:15px;
  text-align: left;

}
.publico .card-title{
  color: var(--primario);
  font-weight: 700;
  font-size: 19px;
}


